/* Balloon Container */
.balloon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
 
}

.balloon {
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid #000000; 
  border-radius: 65% 46% 41% 29% / 54% 58% 40% 43%;
  transition: border-radius 0.9s ease, background-color 0.9s ease;
  cursor: pointer;
  background-color: #ffffff;
}

.balloon img {
  width: 100%;
  height: auto;
  max-width: 220px;
}

.balloon img:hover {
  filter: saturate(1.2);
  filter: brightness(1.2);
  filter: contrast(1.2);
}

/* select first and second child and round edges */
.balloon img:first-child, .balloon:nth-child(2) {
  border-radius: 25px;
}

.balloon a {
  text-decoration: none;
}

figcaption {
  font-size: 39px;
  text-align: center;
  margin-top: 20px;
  color: #333;
    font-family: "Bangers", system-ui;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.2em;
}

.balloon:active {
    transform: rotate(90deg);
    animation: bounce 1.4s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}