@charset "UTF-8";

*,
html,
::after,
::before {
    margin: 0;
    padding: 0;
}

.case_beige {
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 247, 247, 0.7);
    width: 80vw;
    border: 5px solid #ff69B4;
    margin: 5vh 10vw;
    padding: 5vh 10vw;
}

.detail {
    display: flex;
    flex-direction: column;
    position: relative;
    aspect-ratio: 1 / 1;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.img {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

.count {
    display: flex;
    justify-content: center;
}

.count img {
    width: 10%;
}

.count p {
    font-size: 25px;
}

.count img:nth-child(1) {
    margin-right: 2vw;
}

.count img:nth-child(3) {
    margin-left: 2vw;
}

.detail input[type="submit"] {
    margin: 0 auto;
    width: 50%;
}