@charset 'utf-8';

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
}

textarea {
  top: 10px;
  width: 600px;
  height: 600px;
  resize: none;

}

input[type="submit"] {
  background-color: #2f4f4f;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1em;
}

input[type="submit"]:hover {
  color: #fff;
  opacity: 0.8;
}

input[type="text"] {
  width: 600px;
  height: 60px;
}