.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

table {
    max-width: 80%;
      border-collapse: collapse;
      background: white;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      margin: 100px;
      letter-spacing: 0.2em;
    }

    th, td {
      padding: 15px;
      border-bottom: 1px solid #ccc;
      text-align: left;
      padding: 30px;
    }

    tr{
       font-size: 25px;
    }

    th {
      background-color: #673ab7;
      color: white;
      font-size: 25px;
    }

    tr.details {
      display: none;
      background-color: #c5c4c4;
      font-size: 25px;
    }

    tr:hover {
      background-color: #683ab749;
      cursor: pointer;
    }

    .index-title{
        font-size: 35px;
        letter-spacing: 0.2em;
    }

.footer-container footer{
  display: flex;
  height: auto;
  flex-direction: column;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 15px;
        position: relative;
        bottom: 0;
        width: 100%;
        letter-spacing: 0.2em;
      }



       footer .iip{
        font-size: 20px;
 letter-spacing: 0.2em;
      }
    
      .youtube-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        padding: 100px;
      }

      .youtube-container iframe{
        margin: 20px;
        border-radius: 20px;
        border: #673AB7 15px dotted;
        box-shadow: 4px 4px 10px rgba(0,0,0,0.6);
        width: 900px;
        height: 700px;
        transition: all 1.5s ease;
      } 

      .youtube-container iframe:hover{
        box-shadow: 6px 6px 12px rgba(0,0,0,0.6);
        border: #b73ab7 15px solid;
        filter: saturate(1.2);
        filter: brightness(1.2);
        transform: scale(1.1);
      }

.youtube-container iframe:active, .table-container:active{
    animation: bounce 1.4s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}