@charset 'utf-8';

*, ::after, ::before{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/login.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    object-fit: cover;
}

.login {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    height: 30%;
    background-color: aliceblue;
}

form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.input {
    padding-left: 60px;
}


.input input[name="username"] {
    width: 300px;
}

.input input[name="password"] {
    width: 400px;
}

p {
    text-align: center;
}

.submit {
    text-align: center;
}