body{
    background-image: url("https://images3.alphacoders.com/883/thumb-1920-883945.jpg");
    height: 100vh;
    overflow: hidden;
    position: relative;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(137, 247, 255, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

h1{
    margin: 0 0 30px;
    padding: 0;
    color: #ffffff;
    text-align: center;
}